<header>
  <h1>Editando Local</h1>
  <div id="list_controls">
    <ul class="left">
      <li>
        <%= link_to 'Voltar para lista de Locais', locations_path, :class => "back" %>
      </li>
    </ul>
  </div>
</header>
<%= render 'form' %>

