<header>
  <h1>Novo Local</h1>
  <div id="list_controls">
    <ul class="left">
      <li>
        <%= link_to 'Voltar para lista de Local', assets_path, :class => "back"  %>
      </li>
    </ul>
  </div>
</header>

<%= render 'form' %>
